<% include ../partials/header %>

<div class="container">
    <div class="row text-center">
            <h1 class="col-12">Edit <%= campground.name %></h1>
            <div style="width: 350px;margin: 0 auto;">
                    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                
                        <br>
                        <input type="text" name="campground[name]" class="form-control" placeholder="New campground" autocomplete="off" required value="<%= campground.name%>">
                        <br>
                        
                        <input type="text" name="campground[image]" class="form-control" placeholder="Camp image link"  autocomplete="off" required value="<%= campground.image%>">
                        <br>

                        <input type="number" name="campground[price]" class="form-control" value="<%= campground.price%>"  autocomplete="off" required min="0.00" step="0.50">
                        <br>     

                        <textarea  name="campground[description]" class="form-control" placeholder="Description of the camp" autocomplete="off" required> <%= campground.description %> </textarea>
                        <br>

                        <button class="btn-block btn-lg btn-primary">Submit</button>
                        
                    </form>
                    
            </div>
            <a href="/campgrounds"  class=" col-12 mt-3">Go back</a>
    </div>
    
</div>



<br><br>


<% include ../partials/footer %>